body {
    background-size: 100% 1080px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    font-family: 'Sawarabi Mincho', sans-serif;
}

h1{
    font-family: 'Sawarabi Mincho', sans-serif;
}

li {
    position: relative;
}

/*
-------- 全体 -------
*/

.wrap {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 30px auto;
    padding: 20px;
    padding-bottom: 100px;
    max-width: 1200px;
}

.title {
    font-size: 40px;
    margin-bottom: 10px;
}

/* -----header------ */

.header {
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px auto;
    text-align: center;
}

.js-inputText {
    height: 25px;
    width: 610px;
}

.js-addButton {
    background-color: #ff9900;
    border: solid 2px #d27d00;
    border-radius: 5px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    font-weight: bold;
    height: 32px;
    width: 110px;
}

.js-addButton:hover {
    opacity: 0.5;
}

.list-wrap {
    position: relative;
    height: auto;
    margin: 10px auto;
    width: 720px;
}

.js-todoList {
    list-style: none;
}


/* -----checkboc style ----- */


.label_style {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}

.label_style:hover {
    text-shadow: #000;
    opacity: 0.8;
}

.label_style input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.div_style {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
}


.label_style:hover input ~ .div_style,
.label_style input:focus ~ .div_style {
  background: #ccc;
}


.label_style input:checked ~ .div_style {
  background: #00c1f1;
}

.label_style:hover input:not([disabled]):checked ~ .div_style,
.label_style input:checked:focus ~ .div_style {
  background: #00c1f1;
}

.label_style input:disabled ~ .div_style {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.div_style:after {
  content: '';
  position: absolute;
  display: none;
}

.label_style input:checked ~ .div_style:after {
  display: block;
}

.label_style .div_style:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.label_style input:disabled ~ .div_style:after {
  border-color: #fff;
}


.orange span {
    color: #ff9933;
}

.red span {
    color: #ff3333;
}

.check-color span {
    opacity: 0.5;
    color: #000;
}

.deleteNode_style {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
}

.deleteNode_style:hover {
    opacity: 0.5;
}

.deleteNode_style:before {
    content: "削除";
} 

.all_delete {
  position: absolute;
  right: 0;
}